@inherits Blaztore.Components.StateComponent<TaskCreationState>

@if (!State.IsAddingTask)
{
    <button 
        onclick="@(() => Dispatch(new TaskCreationState.StartAddingNewTask()))">
        New task
    </button>
}
else
{
    <div>
        <input
            value="@State.NewTaskDescription"
            @oninput="@(args => Dispatch(new TaskCreationState.DefineNewDescription((string?)args.Value ?? string.Empty)))"/>

        <button
            disabled="@(string.IsNullOrWhiteSpace(State.NewTaskDescription))"
            @onclick="@(_ => Dispatch(new TaskCreationState.ExecuteTaskCreation()))">
            Validate
        </button>
    </div>
}

@code {
    private TaskCreationState State => GetState();

    protected override Task OnAfterInitialRenderAsync() =>
        Dispatch(new TaskCreationState.Load());
}