@inherits Blaztore.Components.StateComponent

<ul>
    @foreach (var task in State.TodoListItems)
    {
        <li>
            @task.Description
        </li>
    }
</ul>

@if (!State.IsAddingTask)
{
    <button onclick="@(() => Dispatch(new TodoListState.StartAddingNewTask()))">
        New task
    </button>
}
else
{
    <div>
        <input
            value="@State.NewTaskDescription"
            @oninput="@(args => Dispatch(new TodoListState.DefineNewDescription((string?)args.Value ?? string.Empty)))"/>

        <button
            disabled="@(string.IsNullOrWhiteSpace(State.NewTaskDescription))"
            @onclick="@(_ => Dispatch(new TodoListState.ExecuteTaskCreation()))">
            Validate
        </button>
    </div>
}

@code {
    private TodoListState State => GetState<TodoListState>();

    protected override Task OnAfterInitialRenderAsync() =>
        Dispatch(new TodoListState.Load());

}